<%- include('layouts/header'); -%>


<body>
  <%- include('layouts/adminNav'); -%>

  <div class="admin-container">
    <h1><%= responseObj.msg %></h1>
    <h3><%= responseObj.status %></h3>
  </div>



</body>

<%- include('layouts/footer'); -%>